extends ../layouts/base.pug

block content
  div.main-container
    div.main-card
      div
        img.image(src='../../images/shiny-logo.png')
      div
        div
          h1 Piikki
          span.tagline In-Advance Payment System