extends ../layouts/base.pug

block head
  link(rel='stylesheet', href="../../styles/landing.scss")

block content
  div.main-container
    div.main-card
      div.logo
        img.image(src='../../assets/images/shiny-logo.png')
      div.title
        div.title-container
          h1 Piikki
          span.tagline In-Advance Payment System
          div.btns
            a(href='https://github.com/majori/piikki') Read the Code
            a Feel the Beat
