html
  head
    link(rel='stylesheet', href="../../styles/global.scss")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' type='image/png' href='../../assets/images/favicon.png')
    title Piikki
    block head
  body
    block content
